@model autopark.Models.Inspection

@{
    ViewData["Title"] = "Редактирование записи о техосмотре";
}

<h1>Редактирование</h1>

<h4>техосмотра</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label class="control-label">Изменить автомобиль</label>
                <select asp-for="CarId" class="form-control" asp-items="ViewBag.CarId"></select>
                <span asp-validation-for="CarId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InspNote" class="control-label"></label>
                <textarea style="resize: vertical;max-height: 200px;" placeholder="Замечания об автомобиле"
                          asp-for="InspNote"
                          id="InspNote"
                          name="InspNote"
                          class="form-control rounded-0"
                          id="exampleFormControlTextarea1" rows="10"></textarea>
                <span asp-validation-for="InspNote" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Дата техосмотра</label>
                <input placeholder="Дата вводится посредством календаря"
                       id="InspDate"
                       name="InspDate"
                       asp-for="InspDate"
                       class="datepicker form-control" />
                <span asp-validation-for="InspDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Обновить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-route-id="@Model.Id" asp-action="Details">Назад</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
