<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Автопарк</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/jquery-ui.css">
    <style>
        label.error, label.error {
            color: red;
            font-style: italic;
        }

        .modal-footer {
            padding: .3rem;
        }
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Главная</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Cars" asp-action="Index">Список автомобилей</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - Автопарк - <a asp-area="" asp-controller="Home" asp-action="Privacy">Конфиденциальность</a>
        </div>
    </footer>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/Validation.js"></script>
    <script src="~/js/datepicker-ru.js"></script>
    <script src="~/js/jQuery v1.12.4.js"></script>
    <script src="~/js/jQuery Ui v1.12.1.js"></script>
    <script>
        $(function () {
            $.datepicker.setDefaults($.datepicker.regional["ru"]);
            $(".datepicker").datepicker();
        });
    </script>
    <script src="~/js/jQuery validation.js"></script>
    <script>
        $(".myform").validate({
            rules: {
                Brand: "required",
                Model: "required",
                ReleaseDate: "required",
                RegDate: "required",
                CarNumber: {
                    required: true,
                    minlength: 6
                },
                InspDate: "required",
                InspNote: {
                    required: true,
                    maxlength: 500
                }
            },
            messages: {
                Brand: "Обязательное поле.",
                Model: "Обязательное поле.",
                CarNumber: {
                    required: "Обязательное поле.",
                    minlength: "Длина ГРЗ минимум 6 знаков."
                },
                ReleaseDate: "Обязательное поле.",
                RegDate: "Обязательное поле.",
                InspDate: "Обязательное поле.",
                InspNote: {
                    required: "Обязательное поле.",
                    maxlength: "Достигнут максимум в 500 знаков."
                }
            }
        });
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>