@model autopark.Models.Car

@{
    ViewData["Title"] = Model.CarNumber + " - " + Model.Model + " - Редактирование";
}

<h4>Редактирование автомобиля</h4>
<h1>@Html.DisplayFor(model => model.CarNumber) - @Html.DisplayFor(model => model.Model)</h1>
<hr />

<div class="row">

    <div class="col-md-4">
        <form method="post" asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Brand" class="control-label"></label>
                <input asp-for="Brand" class="form-control" />
                <span asp-validation-for="Brand" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Model" class="control-label"></label>
                <input asp-for="Model" class="form-control" />
                <span asp-validation-for="Model" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Дата выпуска</label>
                <input asp-for="ReleaseDate" id="ReleaseDate" name="ReleaseDate" type="text" class="datepicker form-control" />
                <span asp-validation-for="ReleaseDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CarNumber" class="control-label"></label>
                <input asp-for="CarNumber" class="form-control" />
                <span asp-validation-for="CarNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Дата учёта</label>
                <input asp-for="RegDate" id="RegDate" name="RegDate" type="text" class="datepicker form-control" />
                <span asp-validation-for="RegDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


<div>
    <a asp-action="Details" asp-route-id="@Model.Id">Назад</a>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
