@model autopark.Models.Car

@{
    ViewData["Title"] = "Редактирование";
}

<h1>Редактирование</h1>

<h4> записи об автомобиле</h4>
<hr />

<div class="row">

    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Model" class="control-label"></label>
                <input asp-for="Model" class="form-control" />
                <span asp-validation-for="Model" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReleaseDate" class="control-label"></label>
                <input asp-for="ReleaseDate" type="date" class="datepicker form-control" min="01-01-1995" max="12-31-2020" value="2012-10-01"/>

                <span asp-validation-for="ReleaseDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CarNumber" class="control-label"></label>
                <input asp-for="CarNumber" class="form-control" />
                <span asp-validation-for="CarNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RegDate" class="control-label"></label>
                <input asp-for="RegDate" type="date" class="datepicker form-control" min="01-01-1995" max="12-31-2020" value="2012-10-01" />
                <span asp-validation-for="RegDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


<div>
    <a asp-action="Details" asp-route-id="@Model.Id">Перейти к подробностям</a> |
    <a asp-action="Index">Перейти к списку автомобилей</a>

</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
