@model autopark.Models.Car

@{
    ViewData["Title"] = "Отчёт об автомобилях";
}

<h1>Отчёт</h1>

<div>
    <h4>об автомобилях</h4>
    <table class="table w-auto">
        <tr>
            <td>Всего: </td>
            <td class="text-left"> @ViewBag.CarsTotal</td>
            <td></td>
        </tr>
        <tr>
            <td>Новее трёх лет:</td>
            <td class="text-left">@ViewBag.LessThanThree</td>
            <td></td>
        </tr>
        <tr>    
            <td>Старше трёх лет:</td>
            <td class="text-left">@ViewBag.OlderThanThree</td>
            <td></td>
        </tr>
    </table>
    <div>
        <a asp-action="Index">Вернуться к списку</a>
    </div>
</div>
