@model autopark.Models.Car

@{
    ViewData["Title"] = "Отчёт";
}

<h1>Отчёт</h1>

<div>
    <h4>об автомобилях</h4>
    <hr />
    <table class="table">
        <tr>
            <td>Всего автомобилей: </td>
            <td> @ViewBag.total</td>
        </tr>
        <tr>
            <td>Автомобили моложе 3-х лет: </td>
            <td>@ViewBag.LessThanThree</td>
        </tr>
        <tr>
            <td>Автомобили старше 3-х лет:</td>
            <td>@ViewBag.OlderThanThree</td>
        </tr>
    </table>
    <div>
        <a asp-action="Index">Вернуться к списку</a>
    </div>
</div>